<div class="boxed-group flush" role="navigation">
    <h3>Repositories</h3>
    <ul class="boxed-group-inner mini-repo-list">
        {% if site.github.public_repositories != null %}
		{% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse%}
		{% for repo in repos %}
			{% if site.popular_repos contains repo.name %}
				<li class="public source ">
					<a href="{{ repo.html_url }}" target="_blank" title="{{ repo.name }}" class="mini-repo-list-item css-truncate">
						<span class="repo-icon octicon octicon-repo"></span>
						<span class="meta-info tooltipped tooltipped-n" aria-label="{{ repo.description }}">{{ repo.description }}</span>
						<span class="stars">
							<span class="meta-info tooltipped tooltipped-n">{{ repo.language }}</span>
							<span class="meta-info tooltipped tooltipped-n">
								<span class="octicon octicon-star"></span> {{ repo.stargazers_count }} stars
							</span>
							<span class="meta-info tooltipped tooltipped-n">
								<span class="octicon octicon-git-branch"></span> {{ repo.forks_count }} forks
							</span>
						</span>
					</a>
				</li>
            {% endif %}
		{% endfor %}
		{% endif %}
    </ul>
</div>

